.sf-field-category li ul.children{
    display: none;
}

.sf-field-category li.active-trail > ul.children {
    display: block;
}

.sf-field-category li  label {
    cursor: pointer;
}

.sf-field-category li.active > label {
    font-weight: bold;

}

.sf-field-category input[type='radio'] {
    display: none;
}